<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>Instagram</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true&amp;key=ABQIAAAAIao_pqN15R-rciPTw_IW4RS60XJ-V1g0CtfxrQRyiVs2LgiF7RTG4bbUx1waaQOkNs-NDTgo78hbFg" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>